Krista Miller 
Data Mining Assignment 1, part 2

Association Rules were originally created for mining information for market baskets.  But, they can provide insight into other applications also.  In this part of the assignment you will use the mlxtend library functions apriori( ) and association_rules( ) to explore text data.  Specifically, we will look at the text from three books:

Sense and Sensibility, by Jane Austin, published 1811

A Tale of Two Cities, by Charles Dickens, published 1859

On The Origin of Species, by Charles Darwin, published 1859 (although written over a 20 year period preceding that date).

All three books were written in english by english people at "roughly" the same time, hence one could assume some commonality in writing style.

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt
from collections import Counter
import csv

In [2]:

df = pd.read_csv('input_SenseAndSensibility_10.csv', header=None, sep=',', names=range(10))
df

#note that this dataset is a sparse dataset, with a relatively high percentage of NaN data

,0,1,2,3,4,5,6,7,8,9
0,family,of,dashwood,had,long,been,settled,insussex,NaN,NaN
1,their,estate,was,large,and,their,residence,was,at,norland
2,park,in,the,centre,of,their,property,where,for,many
3,generations,they,had,lived,in,so,respectable,a,manner,as
4,to,engage,the,general,good,opinion,of,their,surroundingacquaintance,NaN
...,...,...,...,...,...,...,...,...,...,...
14454,and,the,happiness,of,elinor,and,marianne,let,it,not
14455,be,ranked,as,the,least,considerable,that,though,sisters,and
14456,living,almost,within,sight,of,each,other,they,could,live
14457,without,disagreement,between,themselves,or,producing,coolness,between,theirhusbands,NaN
14458,the,end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#find out how many unique items are actually in the table:

items= set()
for col in df:
    items.update(df[col].dropna().unique())
    
#print(items)

In [ ]:
#apriori module requires a df of 1s and 0s.  the following code "one hot encodes" the data:

itemset= set(items)
encoded_vals=[]
for index, row in df.iterrows():
    rowset= set(row)
    labels= {}
    uncommons= list(itemset-rowset)
    commons= list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] =0
    for com in commons:
        labels[com]=1
    encoded_vals.append(labels)
encoded_vals[0]

ohe_df=pd.DataFrame(encoded_vals)
#ohe_df.head(10)

In [ ]:
#Applying Apriori:
#min_support: floating point between 0 and 1 , (# observation with item)/(total observation)

freq_items= apriori(ohe_df, min_support=0.003, use_colnames=True, verbose=1)

print(freq_items.sort_values(by="support", ascending=False))
#freq_items['itemlength']=freq_items['itemsets'].apply(len)
#freq_items.query('itemlength == 2').sort_values(by="support", ascending=False)

In [ ]:
#Mining Association Rules
#(results show which item is frequently with other items)

rules= association_rules(freq_items, metric="confidence", min_threshold=0.8)
rules.sort_values(by="lift", ascending=False).head(10)

In [42]:
# plt.scatter(rules['support'], rules['confidence'], alpha=0.5)
# plt.xlabel('support')
# plt.ylabel('confidence')
# plt.title('support vs confidence')
# plt.show()

In [43]:
# plt.scatter(rules['support'], rules['lift'], alpha=0.5)
# plt.xlabel('support')
# plt.ylabel('lift')
# plt.title('Support vs Lift')
# plt.show()

In [44]:
# fit= np.polyfit(rules['lift'], rules['confidence'], 1)
# fit_fn= np.poly1d(fit)
# plt.plot(rules['lift'], rules['confidence'], 'yo', rules['lift'],
#         fit_fn(rules['lift']))

References:
medium article:
https://medium.com/analytics-vidhya/association-analysis-in-python-2b955d0180c